// app global css in Sass form

body
	background: wheat
	font-family: 'kreon';
	font-size: 20px;

h1, h2, h3, h4, h5
	font-family: 'ubuntu';

h4
	color: #e0006c;

.q-page-container > .q-page 
	border: 1px solid #260B39

.bold
	font-weight: 700;

.my-card
	max-width: 33%;
	border-radius: 14px;
	padding: 10px;

	.c-heading
		color: #e0006c